
AddDefaultCharset utf-8


#Options +FollowSymLinks
#Redirect /test.html http://7d3.ru






RewriteEngine on
RewriteBase /
RewriteRule ^(.*)$ index.php



#Options -Indexes

#<IfModule mod_rewrite.c>

#RewriteEngine on
#Allow from all

#RewriteBase /

#RewriteCond $1 !^(index\.php|assets|robots\.txt|favicon\.ico)
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ ./index.php/$1 [L,QSA]
#DirectoryIndex index.php
#</IfModule>
